In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\jorge\\OneDrive - Universidad Pontificia Comillas\\TFG - BA\\fair-bo-dissertation\\notebooks'

In [7]:
columns = ['checking-balance',
           'duration',
           'credit-history',
           'purpose',
           'credit-amount',
           'savings-balance',
           'employed-since',
           'installment-rate',
           'personal-info',
           'debtors',
           'residence-since',
           'property',
           'age',
           'other-installment-plans',
           'housing',
           'n-credit-cards',
           'job',
           'n-people-liable',
           'telephone',
           'foreign-worker',
           'target']

In [9]:
df = pd.read_csv('../data/german-credit-data/german.data', names=columns, sep=' ')

In [10]:
df.head()

,checking-balance,duration,credit-history,purpose,credit-amount,savings-balance,employed-since,installment-rate,personal-info,debtors,...,property,age,other-installment-plans,housing,n-credit-cards,job,n-people-liable,telephone,foreign-worker,target
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [11]:
df.dtypes

checking-balance           object
duration                    int64
credit-history             object
purpose                    object
credit-amount               int64
savings-balance            object
employed-since             object
installment-rate            int64
personal-info              object
debtors                    object
residence-since             int64
property                   object
age                         int64
other-installment-plans    object
housing                    object
n-credit-cards              int64
job                        object
n-people-liable             int64
telephone                  object
foreign-worker             object
target                      int64
dtype: object

In [12]:
def convert_personal_info(x):
    if x == 'A91':
        return 'male', 'non-single'
    if x == 'A92':
        return 'female', 'non-single',
    if x == 'A93':
        return 'male', 'single'
    if x == 'A94':
        return 'male', 'non-single'
    if x == 'A95':
        return 'female', 'single'

In [13]:
df['sex'] = df['personal-info'].apply(lambda x: convert_personal_info(x)[0])

In [14]:
df['marital-status'] = df['personal-info'].apply(lambda x: convert_personal_info(x)[1])

In [15]:
df.head()

,checking-balance,duration,credit-history,purpose,credit-amount,savings-balance,employed-since,installment-rate,personal-info,debtors,...,other-installment-plans,housing,n-credit-cards,job,n-people-liable,telephone,foreign-worker,target,sex,marital-status
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A143,A152,2,A173,1,A192,A201,1,male,single
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A143,A152,1,A173,1,A191,A201,2,female,non-single
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A143,A152,1,A172,2,A191,A201,1,male,single
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A143,A153,1,A173,2,A191,A201,1,male,single
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A143,A153,2,A173,2,A191,A201,2,male,single

In [16]:
del df['personal-info']

In [28]:
df = df[list(df.columns[df.columns != 'target']) + ['target']]

In [29]:
df.to_csv('../data/german-credit-data/german-credit-processed.csv', index=False)